/* overflow: hidden; */

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Unbounded", cursive;
}

body {
  /* Test image to test background image blur */
  background-color: #e0e0e0;
}

h1 {
  font-size: 6rem;
  text-align: center;
  /* opacity: 1; */
}

#head-bin {
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin-bottom: 5rem;
  padding: 1.5rem;
  /* opacity: 0.75; */
}

#card-bin {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.card {
  font-size: 5rem;
  padding: 2rem;
  margin: 1rem;
  width: 30%;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  /* opacity: 0.75; */
}

/* (Start of) Currently not referred to in code */
.card-content {
  z-index: 2;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-background {
  z-index: 1;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* (End of) Currently not referred to in code */

.card-img {
  width: 80%;
  border-radius: 50px;
  /* opacity: 1; */
}

.expanded-img {
  width: 50%;
  height: fit-content;
  border-radius: 50px;
  display: flex;
  align-self: center;
  /* opacity: 1; */
}

.expanded-card {
  background-color: rgb(17, 119, 207);
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
  width: 90%;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  align-self: center;
  /* opacity: 0.75; */
}

.expanded-content {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  /* opacity: 1; */
}

.expanded-info {
  font-size: 3rem;
  margin: 1rem;
}

.expanded-header {
  font-size: 4rem;
  margin: 1rem;
}

.remove-btn {
  width: fit-content;
  padding: 0.5rem;
  font-size: 2rem;
  align-self: center;
}

.card-header {
  margin: 1rem;
}

.expanded-info-type {
  font-style: italic;
  font-size: 2rem;
}

#btn-bin {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.filter-btn {
  font-size: 2rem;
}

@media screen and (max-width: 1180px) {
  .card {
    width: 45%;
  }
  .expanded-img {
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
  .card {
    width: 90%;
  }
}
