*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Unbounded', cursive;
}

body {
    /* Test image to test background image blur */
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg?region=0,0,1920,1080&width=768);
}

h1 {
    font-size: 6rem;
    text-align: center;
}

#card-bin {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.card {
    font-size: 3rem;
    padding: 1rem;
    margin: 0.25rem;
    width: 30%;
    border-color: black;
    border-width: 0.3rem;
    border-style: solid;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.card-content {
    z-index: 2;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.card-background {
    z-index: 1;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    width: 100%;
    height: 100%;
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img {
    width: 100%;
}

.expanded-card {
    font-size: 3rem;
    padding: 1rem;
    margin: 0.25rem;
    width: 90%;
    border-color: black;
    border-width: 0.3rem;
    border-style: solid;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}